@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
  scroll-behavior: smooth;
}

/* BODY */

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.page-header {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* NAVIGATION */

.logo {
  margin-bottom: -10px;
  width: 140px;
  z-index: 0;
  margin-right: 30px;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 550px;
}

.navigation-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: '';
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
}

.navigation-user {
  margin-left: auto;
  align-items: start;
  max-width: 176px;
}

.navigation-item-user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  background: #82b3d3;
  color: #ffffff;
}

.navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-user:hover path,
.navigation-link-user:focus path {
  fill: #68a2ca;
}

.navigation-link-user:active path {
  fill: rgba(104, 162, 202, 0.3);
}


.btn-search,
.btn-favourite {
  cursor: pointer;
  height: 64px;
}

.navigation-link-btn {
  font-weight: 700;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  margin: 15px 0 13px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 165px;
  word-break: break-word;
  align-items: center;
}

.navigation-user-fav-element {
  position: absolute;
  color: #ffffff;
  background: #7db54f;
  border-radius: 10px;
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  padding: 5px 3px;
  top: 11px;
  margin-left: 21px;
}

/* HERO */

.hero {
  background: url("../img/bg-divider.svg") bottom, url("../img/welcome-background.jpg") center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(131, 179, 211, 0.5);
  display: flex;
  flex-direction: column;
  min-height: 485px;
}

.welcome-text {
  padding-top: 51px;
  align-self: center;

}


/* MAIN, H2, P */

.main {
  flex-grow: 1;
}
.about-sedona {
  padding: 69px 0;
  align-items: center;
  justify-content: center;
}

.about-sedona-title,
.service-h2,
.search-title,
.subscribe-title,
.subscribe-title-catalog {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.about-sedona-title {
  margin: 69px 158px 25px 158px;
}

.service-title,
.search-title,
.subscribe-title,
.subscribe-title-catalog {
  margin-bottom: 20px;
}

.about-sedona-description,
.service-p,
.search-description,
.subscribe-description,
.subscribe-description-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.about-sedona-description {
  margin: 0 150px 69px 150px;
}

.search-description,
.subscribe-description,
.subscribe-description-catalog {
  margin-bottom: 54px;
}

.advantages-description {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

/* ADVANTAGES */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  list-style-type: none;
}

.advantages-title,
.service-title {
  font-weight: 700;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.advantages-title::after {
  position: absolute;
  bottom: -30px;
  left: 37%;
  content: '';
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item {
  color: #333333;
  min-height: 385px;
}


.small-area,
.no-crowd,
.cts-hotel,
.cts-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.20);
}

.advantages-item-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 114px 85px;
}

.advantages-container-wide.advantages-item-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 103px 85px;
  position: relative;
}

.advantages-item-wide {
  display: flex;
  background-color: #82b3d3;
  width: 100%;
  color: #ffffff;
}

.advantages-item-wide-reversed {
  flex-direction: row-reverse;
}

.advantages-title-wide::after,
.advantages-title-wide-reversed::after {
  background: rgba(255, 255, 255, 0.30);
}

.sedona.advantages-item-photo {
  position: absolute;
  height: 100%;
  left: 100%;
  top: 0%;
}

.canyon.advantages-item-photo {
  position: absolute;
  right: 0%;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 100%;
}

/* SERVICE */

.service {
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.service-h2 {
  margin: 64px 0 20px 0;
  max-width: 515px;
}

.service-p {
  margin: 0 0 64px 0;
  max-width: 750px;
}

.service-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.service-description {
  margin-top: 30px;
  margin-bottom: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 80px 85px;
  width: 230px;
}


.service-icon {
  margin-bottom: 30px;
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 96px 304px;
}

.search-hotel-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: #756157;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 50px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

/* SUBSCRIBE */

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
  color: #000000;
  margin-top: 60px;
}
.subscribe-theme {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../img/subscribe-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-mail-email {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 52px;
  min-width: 412px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscribe-mail-email:hover,
.subscribe-mail-email:focus {
  background-color: #e6e6e6;
}

.subscribe-mail-email:active {
  border: none;
}

.subscribe-mail-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  padding: 36px 70px 30px;
  align-items: center;
}

.footer-social-item {
  padding: 12px 12px;
}

.social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0;
  margin-right: auto;
  list-style: none;
  flex-wrap: wrap;
  width: 144px;
}

.social-link:hover path,
.social-link:focus path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

/* html academy :hover, :focus, :active */
.html-academy:hover path,
.html-academy:focus path {
  fill: #756157;
}
.html-academy:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* contact number :hover, :focus, :active */

.contact-number:hover,
.contact-number:focus {
  color: #756157;
}
.contact-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 5px 195px;
  min-width: 335px;
}

.html-academy {
  width: 115px;
  margin-left: auto;
}


/* CATALOG INNER HEADER */

.inner-header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  box-sizing: border-box;
  background: url("../img/filter-background.jpg");
  background-size: cover;
  background-color: #84afcd;
  padding: 35px 70px 71px;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.breadcrumbs-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link::after {
  display: inline-block;
  position: absolute;
  content: "";
  background-image: url("../img/breadcrumbs-indicator.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 11px;
  padding: 5px 2px;
  right: -19px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 27px;
}

.breadcrumbs-item:last-child .breadcrumbs-link:after {
  display: none;
}

.breadcrumbs-home-svg {
  padding: 0 2px 1px;
}

/* FORM */

.selection-form {
  display: flex;
  width: 100%;
}

/* INFRASTRUCTURE, PROPERTY TYPE */

.infrastructure-fieldset,
.property-type-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure-subject,
.property-type-subject {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 32px;
}

.infrastructure-fieldset {
  margin-right: 67px;
}

.property-type-fieldset {
  margin-right: auto;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  line-height: 23px;
  gap: 16px;
  max-width: 170px;
  word-break: break-word;
}

.checkbox-container:hover {
  opacity: 0.6;
}

.checkbox-container:active {
  opacity: 0.3;
}

.control-input {
  min-width: 20px;
}

.control-input[type="checkbox"] {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  width: 20px;
  height: 19px;
  appearance: none;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center top 0;
}

.control-input[type="radio"] {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  margin: 0;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
}

.control-input[type="radio"]:checked {
  background-image: url("../img/round-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* COST FILTER */
.cost-filter-container {
  display: flex;
  gap: 70px;
}

.cost-rub-filter-wrapper {
  display: flex;
  flex-direction: column;
}

.cost-rub-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.cost-control {
  display: flex;
  gap: 2px;
  margin-bottom: 42px;
}

.cost-filter-wrapper {
  color: #000000;
  position: relative;
}

.cost-input {
  display: inline;
  position: relative;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 143px;
  color: #000000;
  outline: none;
  outline-offset: 0;
  padding: 11px 17px;
}

.cost-input::-webkit-outer-spin-button,
.cost-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.cost-input.left {
  border-radius: 4px 0 0 4px;
}

.cost-input.right {
  border-radius: 0 4px 4px 0;
}

.cost-input:hover,
.cost-input:focus {
  background-color: #e6e6e6;
}

.cost-filter-wrapper span {
  position: absolute;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #aaaaaa;
  top: 50%;
  right: 20px;
  transform: translateY(-13px);
}

/* RANGE BAR */

.range-scale {
  display: block;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -9px;
}

.toggle-max {
  right: 0;
  top: -9px;
}

/* SUBMIT/RESET BUTTONS */

.sub-res-button {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
}

.submit-button,
.reset-button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:active {
  opacity: 0.3;
}

.reset-button:disabled {
  opacity: 0.1;
}

.submit-button {
  background: #82b3d3;
}

.reset-button {
  background: none;
}

/* blue/brown buttons */

.blue-btn:hover,
.blue-btn:focus {
  background-color: #68a2ca;
}

.blue-btn:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.brown-btn:hover,
.brown-btn:focus {
  background-color: #615048;
}

.brown-btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.blue-button:disabled,
.brown-btn:disabled,
.favourite.hotel-card-fav:disabled {
  background-color: #E5E5E5;
  color: rgba(255, 255, 255, 0.3)
}

/* SEARCHING HOTELS FILTER/CONTAINER */

.searching-hotels-container {
  margin: 48px 70px 0;
}

.searching-filter-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.searching-result-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.searching-option {
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
  padding: 14px 35px 14px 20px;
  margin: 0 71px 0 auto;
  width: 292px;
  font: inherit;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.searching-option:hover {
  border-color: #68a2ca;
}

.searching-option:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

/* TYPE OF VIEW BUTTONS */

.view-buttons {
  display: flex;
  gap: 8px;
}

.view-button {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  padding: 13px 14px;
  background: none;
}

.view-button.current {
  border: 2px solid #000000;
}

.view-button:hover,
.view button:active {
  border: 2px solid #000000;
}

/* HOTEL CARDS */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  overflow: hidden;
}

.hotel-card-link:hover,
.hotel-card-link:focus {
  color: #615048;
  text-shadow: 0 1px 1px rgba(97,80,72,0.8);
}

.hotel-card-link:active {
  color: #615048;
  text-shadow: 0 1px 1px rgba(97,80,72,0.8);
  opacity: 0.8;
}

.hotel-card-img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-img,
.hotel-card-title,
.hotel-card-type-price,
.hotel-card-about-fav {
  margin-bottom: 16px;
}

.hotel-card-type-price,
.hotel-card-about-fav,
.hotel-card-star-rating {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.hotel-card-type {
  word-break: break-all;
}

.hotel-card-about,
.hotel-card-fav {
  text-decoration: none;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}

.hotel-card-about {
  background: #756157;
  padding: 8px 27px;
}

.hotel-card-button:disabled,
.search-hotel-btn:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-card-price {
  text-align: right;
}

.hotel-card-fav {
  background: #82b3d3;
  border: none;
  padding: 8px 21px;
  cursor: pointer;
}

.favourite.hotel-card-fav {
  background: #7db54f;
  padding: 8px 19px;
}

.favourite.hotel-card-fav:hover,
.favourite.hotel-card-fav:focus {
  background-color: #6c9e42;
}

.favourite.hotel-card-fav:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-star-rating {
  display: flex;
  justify-content: space-between;
}

.stars {
  background-image: url("../img/rating-star.svg");
  background-size: 18px 37px;
  background-repeat: space;
}

.two.stars {
  width: 42px;
}

.three.stars {
  width: 66px;
}

.four.stars {
  width: 89px;
}

.rating {
  border-radius: 4px;
  background: #f2f2f2;
  padding: 9px 22px 8px 24px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  word-break: break-all;
}

/* PAGINATION */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 1px;
}


.pagination-link,
.pagination-link-more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-link.current,
.pagination-link.current:active,
.pagination-link.current:focus,
.pagination-link.current:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-more {
  color: #000000;
  background: none;
}

/* MODAL WINDOW POPUP */

.modal-window {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  width: 717px;
  max-width: 95%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 30px;
  transition: all 0.18s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.modal-window.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal-window-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.modal-window-container {
  display: flex;
  flex-direction: column;
  padding: 64px 70px;
  position: relative;
  margin: auto;
}

.modal-window-title {
  margin: 0 0 64px 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 16px 15px 15px 16px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close:active {
  opacity: 0.3;
}

.select-amount-btn {
  display: inline-flex;
}

.modal-label-date input {
  background: url("../img/modal-calendar-icon.svg") no-repeat;
  background-position: 95%;
}

.field {
  font: inherit;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  width: 440px;
  box-sizing: border-box;
  line-height: 24px;
  opacity: 1;
  color: #333333;
  padding: 12px 20px;
}

.modal-date-form label {
  display: flex;
  align-items: center;
}

.field:focus {
  border: #83b3d3;
}

.modal-h4 {
  margin: 12px auto 12px 0;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  max-width: 120px;
}

.modal-btn {
  text-align: center;
}

.modal-search-btn {
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background: #83b3d3;
  border: none;
  padding: 18px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 577px;
}

.modal-search-btn:hover,
.modal-search-btn:focus {
  background-color: #68a2ca;
}

.modal-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-input-quantity,
.button-minus,
.button-plus{
  border: none;
  background: #f2f2f2;
}

.modal-input-quantity {
  color: #000000;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  width: 31px;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.button-minus,
.button-plus {
  padding: 12px 10px;
  cursor: pointer;
}

.date-details {
  margin: 4px 0 23px 157px;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
}

.error {
  color: #ff5757;
}

.modal-date-form {
  display: contents;
}

.modal-date-form input {
  background-color: #f2f2f2;
}

.field:hover,
.field:focus {
  background-color: #e6e6e6;
}

.modal-people-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.modal-adult {
  gap: 46px;
}

.modal-children {
  gap: 82px;
  position: relative;
}

.adult-wrapper {
  display: flex;
  gap: 46px;
}

.children-wrapper {
  display: flex;
  gap: 82px;
}

.modal-children-tooltip {
  position: absolute;
}

.tooltip-btn {
  background: none;
  border: none;
  top: 11px;
  left: 59px;
  position: absolute;
  padding: 0;
  height: 26px;
  width: 26px;
}

.tooltip-text {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  padding: 18px 18px 23px 22px;
  display: none;
  width: 256px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 15px;
  text-align: initial;
  top: 37px;
  left: -56px;
  position: absolute;
}

.tooltip-text::before {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #333333 10px;
  content: " ";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  height: 9px;
  top: -18px;
}

.tooltip-btn:hover + .tooltip-text {
  display: block;
}

.button-minus:hover > .minus-svg path {
  fill: #000000;
}

.button-plus:hover > .plus-svg path {
  fill: #000000;
}
