@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

/* BODY */

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  min-width: 1280px;
  font-weight: normal;
}

h2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  gap: 30px;
  height: 64px;
  width: 1200px;
  background: #FFFFFF;

}

/* HERO */

.hero {
  background-image: url("../img/welcome-background.jpg"), url("../img/bg-divider.jpg");
  background-size: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  height: 352px;
  width: 458px;
  padding-left: 371px;
  padding-top: 51px;
  border-radius: 0;

}
/* NAVIGATION */

.logo {
  padding: 0;
  margin-right: 30px;
}

.page-header {
  padding: 0 70px;
  height: 64px;
  align-content: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 940px;
  margin: 0 auto;

}

.navigation-item {
  padding: 0 16px;
}


.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
  gap: 8px;
}


.navigation-user {
  max-width: 250px;
  margin-left: auto;
  display: flex;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user:nth-child(4) {
}

.navigation-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2em;
  padding: 20px 0;

}

.navigation-button {
  display: flex;
  align-items: center;
  width: 268px;
  height: 64px;
  text-decoration: none;
}

.btn-search,
.btn-like {
  padding: 21px 12px;
  cursor: pointer;
}

.btn-like {
  margin-right: 20px;
}

.btn-catalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* MAIN CONTENT */

.main {
  flex-grow: 1;
}
.about-sedona {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  padding: 69px 0 90px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
}

.about-sedona-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.come-to-sedona {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  padding: 69px 0 90px 0;
  align-items: center;
  justify-content: center;
}

.come-to-sedona-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.want-to-go {
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 69px 0 90px 0;
  align-items: center;
  justify-content: center;
}


.want-to-go-container {
  padding: 96px 304px;
}

/* ADVANTAGES */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  text-align: center;
}

.advantages-item {
  color: #333333;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  padding: 90px 85px;
}

.advantages-item-wide {
  display: flex;
  background-color: #82b3d3;
  width: 100%;
}

.advantages-item-wide .advantages-description {
  color: #ffffff;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

/*

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 85px;
  width: 400px;
}

.advantages-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item:first-child,
.advantages-item:nth-child(7) {
  color:#FFFFFF;
  background-color: #82b3d3;
  text-align: center;
  padding: 102px 85px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: #83b3d333;
}

*/

.advantages-list-2 {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.advantages-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 85px;
  width: 400px;
}



/* SUBSCRIBE */

.subscribe {
  padding: 96px 258px 104px;
  width: 684px;
  height: 215px;
}
.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}
.subscribe-theme {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../img/subscribe-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe-theme-catalog {
  color: #000000;

}
.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
color: #ffffff;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-mail-email {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 50px;
  width: 452px;
}

.subscribe-mail-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 50px;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
}

.footer-container {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
  height: 50px;
}
.footer-social-item {
  padding: 12px 12px;
}

.social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0;
  margin-right: 235px;
  list-style: none;
}

.htmlacademy-icon {
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 331px;
  height: 40px;
  margin-right: 235px;
}


/* CATALOG INNER HEADER */

.inner-header {
  color: #ffffff;
  box-sizing: border-box;
  background: url("../img/filter-background.svg");
}

.breadcrumbs-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;

}

/* RANGE BAR */

.range-cost {
  position: absolute;
  border: 4px solid #ffffff;

}



/* SEARCHING HOTELS FILTER/CONTAINER */

.searching-filter-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.searching-result-title {
  max-width: 350px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.card-layout-wrapper {
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 970px;
}

.filter-select-type {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.view-buttons {
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* HOTEL CARDS */

.hotel-cards {

}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  height: 438px;
}


/* PAGINATION */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item {
  margin-right: 8px;
}


.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 0 12px;
  box-sizing: border-box;
}

.pagination-link.current {
  background-color: #f2f2f2;
}
