@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

/* BODY */

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  min-width: 1280px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  gap: 30px;
  height: 64px;
  width: 1200px;
  background: #FFFFFF;

}

/* HERO */

.hero {
  background: url(../img/bg-divider.svg) bottom, url(../img/welcome-background.jpg) center;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 485px;
}

.welcome-text {
  height: 352px;
  width: 458px;
  padding-left: 371px;
  padding-top: 51px;
  border-radius: 0;

}
/* NAVIGATION */

.logo {
  display: block;
  padding: 0;
  margin-right: 30px;
}

.page-header {
  padding: 0 70px;
  height: 64px;
  align-content: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 1060px;
  margin: 0 auto;

}
.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-user {
  max-width: 250px;
  margin-left: auto;
  display: flex;
}

.navigation-item {
  padding: 0 16px;
}


.navigation-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2em;
  padding: 20px 0;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-button {
  display: flex;
  align-items: center;
  width: 268px;
  height: 64px;
  text-decoration: none;
}

.btn-search,
.btn-like {
  padding: 21px 12px;
  cursor: pointer;
}

.btn-like {
  margin-right: 20px;
}

.btn-catalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* MAIN, H2, P */

.main {
  flex-grow: 1;
}
.about-sedona {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  padding: 69px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
}

.about-sedona-title,
.come-to-sedona-title,
.want-to-go-title,
.subscribe-title,
.subscribe-title-catalog {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.about-sedona-title {
  margin-bottom: 25px;
}

.come-to-sedona-title,
.want-to-go-title,
.subscribe-title,
.subscribe-title-catalog {
  margin-bottom: 20px;
}

.about-sedona-description,
.come-to-sedona-description,
.want-to-go-description,
.subscribe-description,
.subscribe-description-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.want-to-go-description,
.subscribe-description,
.subscribe-description-catalog {
  margin-bottom: 54px;
}

.advantages-description {
  text-align: center;
  margin: 0;
}

.come-to-sedona {
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 64px 0;
  align-items: center;
  justify-content: center;
}

.want-to-go {
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.want-to-go-container {
  padding: 96px 0;
}

/* ADVANTAGES */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item {
  color: #333333;
}

.small-area,
.no-crowd,
.cts-hotel,
.cts-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.20);
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  padding: 90px 85px;
}

.advantages-item-wide {
  display: flex;
  background-color: #82b3d3;
  width: 100%;
  color: #ffffff;
}

.advantages-item-wide-reversed {
  display: flex;
  flex-direction: row-reverse;
}

/* RECTANGLE ADV */

.rectangle-adv-wide {
  background: rgba(255, 255, 255, 0.30);
  margin: auto;
}

.rectangle-adv {
  background: rgba(0, 0, 0, 0.30);
  margin: auto;
}

/* COME TO SEDONA ADVANTAGES LIST 2 */

.advantages-list-2 {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.advantages-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;
  width: 230px;
}


.advantage-icon {
  margin-bottom: 30px;
}

/* SEARCH HOTEL BUTTON */

.search-hotel-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  background-color: #756157;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 50px;
  cursor: pointer;
}

/* SUBSCRIBE */

.subscribe {
  padding: 96px 258px 104px;
  width: 684px;
  height: 215px;
}
.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
  color: #000000;
}
.subscribe-theme {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../img/subscribe-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-mail-email {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 50px;
  width: 452px;
  padding: 0 20px;
}

.subscribe-mail-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 50px;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
}

.footer-container {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
  height: 50px;
}

.footer-social-link {
  display: flex;
  width: 100%;

}
.footer-social-item {
  padding: 12px 12px;
}

.social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0;
  margin-right: auto;
  list-style: none;
}

.social-item {
  padding: 0 10px;
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  height: 40px;
  margin-right: auto;
  text-decoration: none;
}


/* CATALOG INNER HEADER */

.inner-header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  box-sizing: border-box;
  background: url("../img/filter-background.svg");
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-direction: column;
}

.breadcrumbs-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0 0 40px;
}

/* FORM/SELECTION FORM*/

.selection-form {
  display: flex;
  align-items: flex-start;
}

/* INFRASTRUCTURE and PROPERTY TYPE */

.infrastructure-fieldset,
.property-type-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure-fieldset {
  margin-right: 70px;
}

.property-type-fieldset {
  margin-right: auto;
}

.infrastructure-subject,
.property-type-subject {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

/* COST FILTER */

.cost-rub-filter {
  display: flex;
  flex-direction: column;
}

.cost-rub-title {
  margin-bottom: 32px;
}

.cost-control {
  margin-bottom: 36px;
}

/* RANGE BAR */


/* SEARCHING HOTELS FILTER/CONTAINER */

.searching-hotels-container {
  margin: 50px 70px 60px;
}

.searching-filter-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.searching-result-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.filter-select-type {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.searching-option {
  width: 252px;
  font-size: 18px;
  font-family: 'PT Sans';
  line-height: 21px;
  padding: 14px 20px;
}

/* TYPE OF VIEW BUTTONS */

.view-buttons {
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* HOTEL CARDS */

.hotel-list {
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  grid-template-rows: 212px 1fr;
}

.hotel-card-img,
.hotel-card-title,
.hotel-card-type-price,
.hotel-card-about-fav,
.hotel-card-star-rating {
  grid-column: 2 span;
}

.hotel-card-about {
  text-decoration: none;
}

/* PAGINATION */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item {
  margin-right: 8px;
}


.pagination-link,
.pagination-link-more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-link.current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-more {
  color: #000000;
  background: none;
}
